<!DOCTYPE html>
<html>
<head>
	<title>Urban Nerd Design</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Girl Next Door|Berkshire+Swash| " rel="stylesheet">
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>
 	<div class="container-fluid">
 		<div class="row">
 			<div class="col-sm-12 text-center" main-wrapper>
 				<div id="coming-soon">
 					<h3> Urban Nerd Design</h3>
 					<h1> Coming Soon</h1>
 				</div>
 			</div>
 		</div>
 			<div class="row">
 				<div class="col-sm-12-text-center" writeup>
	 					<input type="text" value="Tech-Inspired Urban Apparal & Accessory line" position=""class="main-color-text"/>
	 			</div>
	 		</div>
	 			<div class="col-sm-6 col-sm-2-offset" SM>	
	 				<a href="https://twitter.com/urbannerddesign" class="fa fa-twitter"></a>
		 			 <a href="https://www.instagram.com/urbannerddesign" 
		 					 class="fa fa-instagram"></a>
	 			</div>
 			</div>
 			<div class="signup">
				<form>
				
				</form>
				<!-- 	<input type="button" value="Sign Up" /><br style="clear: both;" />
				</form> -->
			</div>
					<div class="SM">
					</div>
			</div>
			</div>
 	</div>
	
	

</body>
</html>

